.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sub-container{
    width: 300px;
    height:300px;
    border: 1px solid black;
    margin: 10px;
}
#color1{
    background-color: red;
}
#color2{
    background-color: green;
}
#color3{
    background-color: blue;
}
#color4{
    background-color: yellow;
}
#color5{
    background-color: orange;
}
#color6{
    background-color: cyan;
}
#color7{
    background-color: greenyellow;
}
#color8{
    background-color: lightseagreen;
}
